.container {
    display: flex;
    flex-direction: column;   
    background-color: var(--bg-color);
    justify-content: center;
    
    
}

.menu {
    display: flex;
    background-color: #EEECE7;
    justify-content: space-between;
    width: 90%;
    border-radius: 4px;
  
    
}

